!!! Strict
%html
  %head

    %meta{ 'http-equiv' => 'content-type', :content => 'text/html;charset=UTF-8'}/
    - if @page.can_be_edited_by @logged_user
      %link{ 'rel' => 'alternate', 'type' => 'application/x-wiki', 'title' => :edit.l, 'href' => @page.object_url}/
    %title= "#{site_name} - #{h(@page.title)}"

    -# = stylesheet_link_tag 'pages'


    = javascript_include_tag 'jquery.1.3.2.min.js' 
    = javascript_include_tag 'jqtouch.js' 
    = javascript_include_tag 'jqtouch.transitions.js' 

    - if protect_against_forgery?
      = javascript_tag "var AUTH_TOKEN = #{form_authenticity_token.inspect};"

    = javascript_tag "var PAGE_ID = #{@page.id}; var PAGE_READONLY = #{!@page.can_be_edited_by(@logged_user)}; var PAGE_WIDTH = #{@page.width};"

    -#%style{:type => 'text/css'}= ".totalPageWidth { width: 925px; }\n#content { width: 690px; }"
    -# %link{ 'media'=> "only screen and (max-device-width: 480px)", 'rel'=>"stylesheet", 'type'=>"text/css", 'href'=>"/stylesheets/iphone.css"}
    %style{ :type => "text/css", :media => "screen" }= "@import \"/stylesheets/jqtouch.css\";"
    %style{ :type => "text/css", :media => "screen" }= "@import \"/themes/jqt/theme.css\";"
    %style{ :type => "text/css", :media => "screen" }= "@import \"/stylesheets/iphone.css\";"
    = javascript_tag "$.jQTouch({icon: 'jqtouch.png',statusBar: 'black-translucent'});"
  %body#body
    #wrapper

      #content

        %div.toolbar
          %h1= h @page.title
          %a{:href=>"/pages", :class=>"back fade", :target => "_webapp"} back



        = yield
